// Cera-Pro
@font-face {
    font-family: 'CeraPro-400';
    src: url('fonts/CeraPro/CeraPro-Regular.ttf');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'CeraPro-500';
    src: url('fonts/CeraPro/CeraPro-Medium.ttf');
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: 'CeraPro-700';
    src: url('fonts/CeraPro/CeraPro-Bold.ttf');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Inter-400';
    src: url('fonts/Inter/Inter-Regular.ttf');
    font-weight: 400;
    font-display: fallback;
}