.courses {
    .courses__container {
        padding-block: rem(90);

        @include lg {
            padding-block: rem(50);
        }
    }

    .course__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: rem(20);
    }
}
