.form {
    background: #151521;

    .form-container {
        padding-bottom: rem(114);
    }

    .form-block {
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);

        @include md {
            gap: 0;
        }

        .form-select {
            flex: 1 0 25%;
            height: rem(100);
            position: relative;

            @include xl {
                flex-basis: 100%;
            }

            @include md {
                height: rem(80);
            }


            .form-icon {
                position: absolute;
                top: 50%;
                right: 0;
                z-index: 45;
                transform: translate(-50%, -100%);
                transition: 500ms;
            }

            &.open .form-icon {
                transform: rotate(180deg) translate(50%, 100%);
            }


            .form-row {
                width: 100%;
                position: absolute;
                left: 0;
                top: calc(100% - rem(20));

                .form-option {
                    width: 100%;
                    background: #fff;
                    padding: toEm(10, 25) toEm(30, 25);
                    font-size: rem(25);
                    transition: 300ms;

                    &:hover {
                        background: $light-green;
                        color: #fff;
                        cursor: pointer;
                    }

                    @include xl {
                        font-size: rem(22);
                    }

                    @include md {
                        font-size: rem(18);
                    }
                }
            }
        }

        .form-item {
            flex: 1 0 25%;
            height: rem(100);

            @include xl {
                flex-basis: 45%;
            }

            @include md {
                flex-basis: 100%;
                height: rem(80);
            }
        }

        .form-input {
            width: 100%;
            height: rem(80);
            font-size: rem(25);
            padding: toEm(10, 25) toEm(30, 25);
            color: #000000;
            background: #fff;

            @include xl {
                font-size: rem(22);
            }

            @include md {
                font-size: rem(18);
                height: rem(60);
            }
        }

        .form-btn {
            flex: 1 0 15%;
            height: rem(80);
            background: $light-green;
            font-size: rem(25);
            line-height: 128%;
            padding: toEm(24, 25) toEm(45, 25);
            color: #fff;


            @include xxl {
                flex-basis: 45%;
            }

            @include md {
                height: rem(60);
                flex-basis: 100%;
                font-size: rem(20);
            }
        }
    }
}