.form {
    background: #151521;
    padding-bottom: 500px;
}

.form-container {
    padding-bottom: rem(114);
}

.form-block {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: rem(20);

    .form-select {
        flex: 1 0 25%;
        max-width: 100%;
        font-size: rem(25);
        position: relative;

        .form-icon {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 30;
            transform: translate(-50%, -50%);
            transition: 500ms;
        }

        &.open .form-icon {
            transform: rotate(180deg) translate(50%, 50%);
        }

        .form-option-active {
            position: relative;
            width: 100%;
            z-index: 2;
            padding-left: rem(30);
        }


        .form-row {
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            overflow: hidden;
            border-top: 1px solid $light-black;


            .form-option {
                width: 100%;
                background: #fff;
                display: flex;
                column-gap: rem(5);
                padding: toEm(24, 25);
                transform: translateY(-500%);
                transition: 500ms ease-out;


                &:hover {
                    background: $light-green;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        &.open .form-option {
            transform: translateY(0);
        }

    }

    .form-input {
        flex: 1 0 25%;
        max-width: 100%;
        font-size: rem(25);
        line-height: 128%;
        padding: toEm(24, 25) toEm(30, 25);
        color: #000000;
        background: #fff;
    }


    .form-btn {
        flex: 1 0 15%;
        background: $light-green;
        font-size: rem(25);
        line-height: 128%;
        padding: toEm(24, 25) toEm(30, 25);
        color: #fff;
    }
}