.question {
    width: 80%;
    margin-inline: auto;

    @include md {
        width: 100%;
    }

    &__container {
        padding-block: rem(80);
    }

    &__block {
        @include df-between;
        border-bottom: rem(1) solid rgba(255, 255, 255, 0.1);
        transition: 300ms;
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: rem(2);
            background: $light-green;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 1s;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover::after {
            width: 100%;

            @include lg {
                width: 0;
            }
        }
    }

    &__text {
        width: 90%;
        font-family: 'CeraPro';
        font-weight: 400;
        font-size: rem(25);
        padding: toEm(34, 25) 0;
        line-height: 144%;
        color: $white;

        @include md {
            font-size: rem(18);
        }
    }

    &__icon {
        font-size: rem(25);
        color: $white;
        transition: 500ms;
    }

    &.open .question__icon {
        transform: rotate(180deg);
        color: $light-green;
    }

    &.open .question__block::after {
        width: 100%;
    }

    &__answer {
        padding: toEm(20, 22);
        font-size: rem(22);
        line-height: 1.2;
        color: $white;
        background: #1a1a25;

        @include md {
            font-size: rem(16);
        }
    }
}