.nav {
    background: transparent;
    border-bottom: 1px solid #5a5a5a;
    padding: rem(30) 0;
    @include df-between;

    @include xl {
        padding: rem(25) 0;
    }

    @include md {
        padding: rem(16) 0;
    }

    .logo-bl {
        width: rem(186);
        height: rem(35);

        @include xl {
            width: rem(156);
            height: rem(35);
        }

        .logo {
            width: 100%;
            height: 100%;
        }
    }

    .info {
        @include df-between;

        @include sm {
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        .menu {
            @include df-between;

            @include lg {
                width: 100%;
                position: fixed;
                bottom: 0;
                left: 0;
                background: #151521;
                padding: rem(5);
                z-index: 10;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-top: 3px solid $light-green;
            }

            .list {
                @include lg {
                    width: 25%;
                }

                .link {
                    font-family: 'CeraPro-400';
                    font-size: rem(20);
                    line-height: 1;
                    color: $white;
                    margin: 0 toEm(25, 20);
                    position: relative;

                    @include xl {
                        font-size: rem(15);
                    }

                    @include lg {
                        width: 100%;
                        padding: rem(20);
                        text-align: center;
                        margin: 0 !important;
                        transition: 300ms;
                        font-size: rem(20);
                        border-radius: 15px;
                        text-shadow: 0.7px 0.7px 00.5px #151521,
                            0.7px 0.7px 0.6px #151521, 0.7px 0.7px 0.8px #151521;

                        &:hover,
                        &.active {
                            background: $light-green;
                        }
                    }

                    @include md {
                        font-size: rem(15);
                    }

                    @include sm {
                        padding: 0;
                        height: rem(70);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: rem(3);
                        background: $light-green;
                        transition: 500ms;
                        position: absolute;
                        bottom: rem(-8);
                        left: 0;

                        @include lg {
                            display: none;
                        }
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        .select-lang {
            background: transparent;
            font-size: rem(20);
            line-height: 1;
            margin: toEm(13, 20) toEm(25, 20);
            color: $white;
            border: rem(1) solid $white;
            border-radius: rem(7);
            cursor: pointer;
            transition: 500ms;
            position: relative;
            width: rem(135);

            @include xl {
                width: rem(115);
                font-size: rem(15);
            }

            @include sm {
                margin: 0;
            }

            .row {
                display: flex;
                align-items: center;
                column-gap: rem(8);
                padding: toEm(8, 20);
            }

            .img {
                width: rem(30);
                height: rem(22);
            }

            .languages {
                width: 100%;
                position: absolute;
                top: 105%;
                left: 0;
                z-index: 5;
                font-size: rem(20);
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                border: rem(1) solid $white;
                border-radius: rem(7);
                transition: 400ms;
                transform: translateY(rem(40));
                opacity: 0;
                pointer-events: none;

                @include xl {
                    font-size: rem(15);
                }
            }

            &:hover .languages {
                opacity: 1;
                transform: translate(0);
                pointer-events: all;
            }
        }

        .call {
            font-family: 'CeraPro-400';
            font-size: rem(20);
            line-height: 1;
            padding: toEm(13, 20) toEm(30, 20);
            color: #333333;
            background: $white;
            border: rem(1) solid transparent;
            transition: 400ms;
            border-radius: rem(7);
            width: rem(220);
            text-align: center;

            @include xl {
                width: rem(190);
                font-size: rem(15);
            }

            @include md {
                width: rem(170);
            }

            @include sm {
                display: none;
            }

            &:hover {
                border: rem(1) solid $white;
                color: $white;
                background: transparent;
            }
        }
    }
}
