/* sizes */
$xxl: 1399.9px;
$xl: 1199.9px;
$lg: 991.9px;
$md: 767.9px;
$sm: 575.9px;

/* flex-between */
@mixin df-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* flex-center */
@mixin df-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA */
@mixin media($w) {
    @media (max-width: $w) {
        @content;
    }
}

@mixin xxl {
    @media (max-width: $xxl) {
        @content;
    }
}

@mixin xl {
    @media (max-width: $xl) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $lg) {
        @content;
    }
}

@mixin md {
    @media (max-width: $md) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $sm) {
        @content;
    }
}